*{
    border: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    max-width: 600px;
    margin:20px auto;
}
.panel{
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-top:20px;
}
.item{
    border-top: 1px solid #d9d9d9;
}
.item:first-child{
    border-top: 0px;
}
.header{
    background-color: #fafafa;
    padding: 15px;
    cursor: pointer;
    
}
.content{
    height: 0px;
    background: white;
    overflow: hidden;
    transition: all 0.2s;
    padding: 0 15px;
}
.active>.content{
    height: initial;
    padding: 15px;
}