*{
    border: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    max-width: 600px;
    margin:20px auto;
    padding:20px;
}
.title{
    margin-bottom: 20px;
}
.btn{
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
    background: white;
    border: 1px solid  rgb(217, 217, 217);

}
.message{
    position: fixed;
    top:0px;
    left:50%;
    transform: translate(-50%,-50px);
    padding: 10px 16px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px #ddd;
    transition: all 0.3s;
}
.message.active{
    transform: translate(-50%,20px);
   
}