.msg{
    position: fixed;
    top:0px;
    left:50%;
    transform: translate(-50%,-50px);
    padding: 10px 16px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px #ddd;
    transition: all 0.3s;
}
.msg.active{
    transform: translate(-50%,20px);
   
}