<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <style>
        .tabs {
            display: flex;
            margin-bottom: 20px;
        }

        .tab-title {
            margin-right: 20px;
            cursor: pointer;
            padding-bottom: 4px;
        }

        .tab-title.active {
            color: #409eff;
            border-bottom: 2px solid #409eff;
        }

        .tab-content {
            display: none;
        }

        .tab-content.active {
            display: block;
        }
    </style>
</head>

<body>
    <div class="nav-container">
        <ul class="nav">
            <li class="nav-item collapse"><a href="./collapse.html">collapse</a></li>
            <li class="nav-item message"><a href="./message.html">message</a></li>
            <li class="nav-item tab active"><a href="./tab.html">tab</a></li>
            <li class="nav-item tooltip"><a href="./tooltip.html">tooltip</a></li>
            <li class="nav-item modal"><a href="./modal.html">modal</a></li>
            <li class="nav-item carousel"><a href="./carousel.html">carousel</a></li>
        </ul>
    </div>
    <div class="display">
        <div class="container">
            <h2 class="title">Tab 选项卡</h2>
            <div class="panel">
                <div class="tabs">
                    <div class="tab-title active">选项一</div>
                    <div class="tab-title">选项二</div>
                    <div class="tab-title">选项三</div>
                </div>
                <div class="contents">
                    <div class="tab-content active">选项一的内容</div>
                    <div class="tab-content">选项二的内容</div>
                    <div class="tab-content">选项三的内容</div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    class Tab {
        constructor($container) {
            this.$tabs = $container.querySelector('.tabs')
            this.$tabTitles = $container.querySelectorAll('.tab-title')
            this.$tabContents = $container.querySelectorAll('.tab-content')
            this.bind()
        }
        bind() {

            this.$tabs.addEventListener('click', e => {
                if ([...e.target.classList].indexOf('tab-title') >= 0) {
                    this.$tabTitles.forEach(tab => tab.classList.remove('active'))
                    e.target.classList.add('active')
                    this.$tabContents.forEach(content => content.classList.remove('active'))
                    let index = [...this.$tabTitles].indexOf(e.target)
                    this.$tabContents[index].classList.add('active')
                }
            })
        }
    }

    document.querySelectorAll('.container').forEach(container => new Tab(container))

</script>

</html>